/*Style for flutter codes*/

/*trying code*/
div.code {
	width: fit-content;
	min-width:500px;
}

pre.code::before {
	counter-reset: listing;
}

pre.code code {
	counter-increment: listing;
}
pre.code code::before {
	content: counter(listing);
	width: 1.5em;
	margin-left: auto;
	text-align: left;
	color: RGB(186, 189, 182);
	background: RGB(62, 39, 35);
	padding-left: 15px;
	border-top: 3px solid RGB(62, 39, 35);
	border-bottom: 3px solid RGB(62, 39, 35);
	display: inline-block;
}
/*end of trying code*/

pre {
	overflow: auto;
	background: RGB(40, 24, 1);
	border-radius: 0 0 10px 0;
	border: 2px solid
		/*yellow*/
		rgb(223, 221, 221);
	border-top: none;
	display: inline-block;
	margin-bottom: 0;
	margin-top: 0;
}

pre .code {
	padding-right: 10px;
	min-width: 300px;
}

code {
	font-family: Consolas, "courier new";
	color: RGB(229, 233, 240);
	font-size: 105%;
}

code .datatype {
	color: orange;
}

span.comment.keyword {
	color: rgba(146, 141, 141, 0.81);
}

code .property {
	color: RGB(180, 142, 173);
	font-style: italic;
}

code .string {
	color: RGB(55, 178, 77);
}

code .comment {
	color: rgba(146, 141, 141, 0.81);
}

code .keyword,
code .acsess-modifier {
	color: RGB(235, 203, 139);
}

.code-title {
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	/*border: thin silver solid;*/
	border: 1px solid rgb(223, 221, 221);
	background-color: rgba(255, 235, 205, 0.411);
	margin: 0;
	padding: 0.5em;
	border-radius: 0 10px 0 0;
	border: 2px solid
		/*yellow*/
		rgb(223, 221, 221);
	border-top: 1px solid rgb(223, 221, 221);
}

p .code-title {
	margin: 0;
}

.code-title a {
	color: inherit;
}