aside .table-of-content{
    background-color: green;
    border:1px solid yellow;
    color:aqua;
}
a{
    color:white;
    text-decoration:none;
}

.table-of-content{
    float:left;
    position:sticky;
    top: 0;
}