*{
    box-sizing:border-box;
}
body{
    font-family: Tahoma;
    color: #444;
    letter-spacing: 1px;
    padding:0;
    margin:0;
    background:RGB(173, 181, 189);
}

h1, h2{
    font-weight: normal;
}
header{
    background:#262626;

}
li{
    list-style:none;
}
a{
    color:white;
    text-decoration:none;
}
.navbar{
    /*min-height:70px;*/
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    position:fixed;
    background:#262626;
    width:100%;
    padding-right:24px;

}
.nav-menu{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}
.nav-branding{
    font-size:2rem;
}
.nav-link{
    transition:0.7s ease;
}

.hamburger{
    display:none;
    cursor:pointer;
}
ul.nav-menu li{
    padding:20px 0;
    margin:0;
}
nav ul{
    margin:0;
}
ul.nav-menu li.active,
ul.nav-menu li:hover,
ul.nav-menu li:focus {
    transition:0.4s ease;
    border-bottom:5px solid yellow;
   
}
.bar{
    display:block;
    width:25px;
    height:3px;
    margin:5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color:white;
}








#wrapper{
    max-width: 960px;
    margin: 0 auto;


    padding: 0 0 20px;
    overflow: hidden;
}

#page-banner{
    /*background: #Eef ;*/
    /*padding: 10px 0;*/
    margin-top:100px;

}

#page-banner h1, #page-banner p{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.cheat-list{
    margin: 30px;
}

.cheat-list ul, #tabbed-content ul{
    list-style-type: none;
    padding: 0;
}

.cheat-list li{
    padding: 20px;
    border-left: 5px solid #ddd;
    margin: 20px 10px;

}

.cheat-list li:hover{
    /*border-color: #9361bf;*/
    border-color:RGB(40, 24, 1);
}

/*Style for flutter codes*/
code {
    font-family: Consolas,"courier new";
    color: RGB(229, 233, 240);
    font-size: 105%;
}
/*trying code*/
pre.code::before {
    counter-reset: listing;
}
pre.code code {
    counter-increment: listing;
}
pre.code code::before {
    content: counter(listing);
    width: 1.5em;
    margin-left: auto;
    text-align: left;
    color:RGB(186, 189, 182);
    background:RGB(62, 39, 35);
    padding-left:15px;
    border-top:3px solid RGB(62, 39, 35);;
    border-bottom:3px solid RGB(62, 39, 35);;

    border-collapse: collapse;



}

pre.code code::before {
    display: inline-block;
}

/*end of trying code*/

pre{
    overflow:auto;
    background:RGB(40, 24, 1);
    border-radius:0 10px 10px 0;
    border:2px solid yellow;
    display:inline-block;

}
pre:hover{
    box-shadow: 1px 1px 5px RGB(52, 58, 64);
    transition:0.3s;
}
.code{
    /*border-bottom:1px solid black;
    border-right:1px solid black;
    /*border-radius:10px 0;*/
    padding-right:10px;
    min-width:300px;
}
code .datatype{
    color:orange;
}



code .property{
    color:RGB(180, 142, 173);
    font-style: italic;
}
code .string{
    color:RGB(55, 178, 77);
}
code .comment{
    color: rgba(146, 141, 141, 0.81);
}
code .keyword,code .acsess-modifier{
    color:RGB(235, 203, 139);
}
.li-key{
    text-decoration:underline;
}

@media (max-width:768px){

    .hamburger{
        display:block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:fixed;
        left:-100%;
        top:70px;
        gap:0;
        flex-direction:column;
        background-color:#262626;
        width:100%;
        text-align:center;
        transition:0.3s;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-menu.active{
        left:0;
    }
}


@media (max-width: 450px) {

    #wrapper{
        margin: 0;
        padding:0;
        overflow: hidden;
        background:RGB(173, 181, 189);
    }
    .code{
        border:none;
    }
    .cheat-list li{
        padding: 5px;
        border-left:none;
        border-bottom: 2px outset RGBA(76, 86, 106,.2);
        margin: 15px 0;

    }
    .cheat-list li:hover{
        border-color:RGBA(76, 86, 106,.5);
    }
}




footer{
    color:white;
    background:#666;
    padding:20px;
    text-align:center;
}
footer h3 span{
    color:  lightseagreen;
}
.logo{
    width:100px;
}










